html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Merriweather', serif;
     }

     ul {
       position: fixed;
       top: 0;
       width: 100%;
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: #333;
     }

     li {
       float: left;
     }

     li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }

     li a:hover {
       background-color: #111;
     }

     .active {
       background-color: #04AA6D;
     }

     .wrapper {
       height: 100%;
       font-family: Helvetica, sans-serif;
       line-height: 1.5;
       word-spacing: 2px;
       letter-spacing: 0.5px;
     }

     .fixed {
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
       height: 100%;
       width: 100%;
       color: #eeeeee;
       text-align: center;
       display: table;
     }

     .fixed h2 {
       display: table-cell;
       vertical-align: middle;
     }

     .scroll {
       background-color: #222831;
       padding: 30px 500px;
       color: #00ADB5;
       text-align: justify;
     }

     .one {background-image: url("django_act3.jpg")}
     .two {background-image: url("django_act1.jpg")}
     .three {background-image: url("django_act5.jpg")}
     .four {background-image: url("django_act4.jpg")}
     .five {background-image: url("django_act7.jpg")}
