body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Merriweather', serif;
}

a:link {
  color: #00ADB5;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: red;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: red;
  text-decoration: underline;
}

ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li:last-child {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.img1 { background-image: url('../images/django_11.jpg'); }

.bg-image {
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

video {padding: 100px;}
